<ion-header>
  <ion-toolbar>
    <ion-title>{{countryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <ion-card *ngFor="let c of countryInfo">
      <img src="{{c.flags.png}}" />
      <ion-card-header>
          <ion-card-title>{{c.name.official}}</ion-card-title>
      </ion-card-header>
          <ion-button expand="block" fill="outline" color="primary">NEWS</ion-button>
          <ion-button expand="block" fill="outline" color="primary">WEATHER</ion-button>
    </ion-card>
  </ion-content>



