<ion-header>
  <ion-toolbar>
    <ion-title>G00438831</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="stacked">Enter Country</ion-label>
      <ion-input placeholder="e.g., united"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary">Search</ion-button>
  </form>
</ion-content>
